.main{
  position: absolute; 
  width: 100%; 
  overflow: hidden; 

}

.nav{
  position: fixed; 
  top: 0; 
  width: 100%; 
  height: 3em; 
  background-color: #e5c0fc; 
  display: block; 
  z-index: 1; 

}

.nav .logo{
  vertical-align: middle;
  width: 3.2em; 
  height: 2.7em; 
  left: 50%; 
  margin-left: 42%; 
  margin-top: 0.25em; 

}

.nav .name{
  vertical-align: middle;
  margin-top: 0.15em; 
  width: 15em; 
  height: 2.5em; 
  
}

.end-banner{ 
  position: absolute; 
  display: inline; 
  bottom: 0; 
  width: 100%;
  height: 20em; 
  background-color: #e5c0fc;
  z-index: 1; 

}

.end-banner .support{
  float: left; 
  margin-left: 5%; 
  margin-top: 2em; 

}

.end-banner h1{
  color: #7030a0;
  font-size: 1.2em; 
  margin-bottom: 1em; 

}

.end-banner .more{
  float: right; 
  margin-right: 20%; 
  margin-top: 2em;
   
}

.end-banner a{
  font-size: 1em; 
  margin-right: 3em; 
  text-decoration: none; 

}

.socials{ 
  float: right; 
  margin-top: 10em;
  display: flex;
  margin-left: 90%; 

}

.socials img{
  width: 2.5em; 
  margin-left: -1.5em; 

}

.main .home-page{
  width: 100%; 
  height: 1000vh; 
}

.main .home-page .new-arrivals, .bestsellers{
  background-color: grey; 
  width: 100%; 
  height: 100vh;
} 

.main .home-page .new-arrivals{
  background-color:grey; 
}

.main .home-page .bestsellers{
  background-color: red;
  margin-bottom: 5em; 
}

.main .home-page .about{
  text-decoration: none; 
  text-align:center; 
}

.main .home-page h1{
  margin-bottom: 1.5em; 
}

.main .home-page p{
  margin-bottom:1em; 
  font-size: 1.2em;
}

