body{
  width:100%; 
  height: auto; 
}

.nav{
  position: fixed; 
  top: 0; 
  width: 100%; 
  height: 3em; 
  background-color: #e5c0fc; 
  display: block; 
  z-index: 1; 

}

.nav .logo{
  vertical-align: middle;
  width: 3.2em; 
  height: 2.7em; 
  left: 50%; 
  margin-left: 42%; 
  margin-top: 0.25em; 

}

.nav .name{
  vertical-align: middle;
  margin-top: 0.15em; 
  width: 15em; 
  height: 2.5em; 
  
}

.end-banner{ 
  bottom: 0;
  position: relative; 
  background-color: #e5c0fc;  
  width: 100%;
  height: 20em; 
  z-index: 1; 

}

.end-banner .support{
  float: left; 
  margin-left: 5%; 
  margin-top: 2em; 

}

.end-banner h1{
  color: #7030a0;
  font-size: 1.2em; 
  margin-bottom: 1em; 

}

.end-banner .more{
  float: right; 
  margin-right: 20%; 
  margin-top: 2em;
   
}

.end-banner a{
  font-size: 1em; 
  margin-right: 3em; 
  text-decoration: none; 

}

.socials{ 
  float: right; 
  margin-top: 10em;
  display: flex;
  margin-left: 90%; 

}

.socials img{
  width: 2.5em; 
  margin-left: -1.5em; 

}

.home, .contact-us, .earrings{
  overflow:auto;
  position:relative; 
  display:block; 
  height:auto; 
}

.home .new-arrivals, .bestsellers{
  width:100%; 
  height:100vh;  
}

.home .new-arrivals{
  background-color:grey; 
}

.home .bestsellers{
  background-color:red; 
  margin-bottom:10vh; 
}

.home .about{
  text-decoration: none; 
}

.home .about h1, p{
  text-align: center;
}

.home .about h1{
  margin-bottom: 3vh;
}

.pcard-section{
  width: 100%; 
  margin-top:20vh;
}

.pcard-section h1{
  text-align:center;
  color:#7030a0; 
  font-size:5vh;
}

.pcard{
  display:inline-block; 
  background-color: #f8f7f5; 
  width: 40vh; 
  height:50vh; 
  margin: 5vh 1.5vh 10vh 5vh;
}

.pcard:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-us .form{
  margin:12vh 0 5vh 0;
  width:100%; 
  height:100vh; 
  margin-bottom:10vh;
}

.contact-us .form h1{
  text-align:center;
  font-size:7vh;
  color:#7030a0;
}

.contact-us .form label{
  font-size:2.5vh;
  margin-left:10%;
  color:#7030a0;
}

.contact-us input, textarea{
  display:block;
  margin-bottom:5vh;
  width:80%;
  margin-right:auto; 
  margin-left:auto;
}

.contact-us input{
  height:5vh;
}

.contact-us textarea{
  height:50vh
}

.contact-us button{
  margin-left:10%;
  text-align:center;
  padding:15px 32px;
  display:inline-block;
  font-size:2.5vh; 
  text-decoration:none;
  color:#fff;
  border:none; 
  background-color:#7030a0;
}

/* This is a single-line comment */
.sign-in{
  height: 100vh; 
  width: 100%;
  background-color: #e5c0fc; 
}

.sign-in h1{
  text-align: center;
  margin-bottom: 5vh; 
  color: #7030a0;
}

.sign-in .sign-in-card{
  width: 60vh; 
  height: 80vh; 
  background-color: red; 
  border-radius: 20px; 
  margin: auto; 
}

label{
  color: #7030a0;
}