.nav{
  position: fixed; 
  top: 0; 
  width: 100%; 
  height: 50px; 
  background-color: #e5c0fc; 
  margin-bottom: 20px; 
  display: block; 

}

.nav .logo{
  width: 50px; 
  height: 50px; 
  margin-left: 40%; 
  margin-top: 2px; 

}

.nav .name{
  margin-bottom: 8px; 
  width: 20%; 
  height: 70%; 
  
}

.nav .menu-btn{
  position: absolute; 
  width: 40px; 
  height: 40px;
  margin: 5px; 

}