.sidebar-item{
  padding: 1em; 
  font-size: 1.1em;
  display: inline-block; 
  padding-left: 50px; 

}

.sidebar-title{
  display: flex; 
  justify-content: space-between;
  font-size: 30px; 
  vertical-align: middle; 
  color: #7030a0;
  font-family: Impact, fantasy; 
  letter-spacing: 1px; 

}

.sidebar-title .toggle-btn{
  width: 20px; 
  cursor: pointer; 
  margin-left: 20px; 
  vertical-align: middle; 
  transition: transform .3s; 

}

.sidebar-item.open .sidebar-title .toggle-btn{
  transform: rotate(-180deg)

}

.sidebar-content{
  padding-top: 10px; 
  font-family: Impact, fantasy;
  color: #7030a0;
  font-size: 22px; 
  letter-spacing: 1px; 
  height: 0; 
  overflow: hidden; 

}

.sidebar-item.open .sidebar-content{
  height: auto; 
  
}