body{
  width:100%; 
  height: auto; 
}

.home, .contact-us, .earrings, .admin{
  overflow:auto;
  position:relative; 
  display:block; 
  height:auto; 
}

.home .new-arrivals, .bestsellers{
  width:100%; 
  height:100vh;  
}

.home .pcard-section .prod p{
  color: black; 
}

.home .new-arrivals{
  background-color:grey; 
}

.home .bestsellers{
  background-color:red; 
  margin-bottom:10vh; 
}

.home .about{
  text-decoration: none; 
}

.home .about h1, p{
  text-align: center;
}

.home .about h1{
  margin-bottom: 3vh;
}

/* product cards */
.pcard-section{
  width: 100%; 
  padding: 10vh 2.5vh;
  justify-content: center; 
  align-items: center; 
  display: inline-block; 
}

.pcard-section h1{
  text-align: center;
  color:#7030a0; 
  font-size:5vh;
}

.pcard {
  position: relative;
  justify-content: center;
  align-items: center;
  display: inline-block;
  background-color: #f9f9f9;
  width: 50vh;
  height: 65vh;
  margin: 2.5vh 5vh;
  color: #7030a0;
  padding: 2.5vh;
}

.pcard img {
  display: block;
  width: 45vh;
  height: 45vh;
}

.pcard h4 {
  display: inline;
  float: left;
  position: relative;
  margin-top: 5%;
  width: 50%;
}

.pcard .price {
  display: inline;
  float: right;
  position: relative;
  margin-top: 5%;
}

.pcard:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prod-icons{
  width: auto; 
  margin-top: 22.5%; 
}

.prod-icons .cart{
  float: right; 
}

/* cart card */
.cart{
  margin-top: 10%; 
  margin-bottom: 5%; 
  padding: 20vh, 0, 20vh, 0; 
  height: auto; 
}

.cartCard{
  height: 15vh; 
  background-color: #f9f9f9; 
  width: 75%;
  margin: auto; 
  margin-top: 2vh; 
  display: flex;
  align-items: center; 
}

.cartCard img{
  height: 12vh; 
  width: 12vh; 
  margin: 1.5vh; 
}

.cartCard h4{
  color: #7030a0;
  margin: 2.5vh; 
}

.cartCard .prodPrice{
  margin-left: auto;  
}

.shopping-card hr{
  width: 80%;
  margin: auto; 
}

.shopping-card .total{
  color: #7030a0;
  width: 75%; 
  margin: auto; 
  margin-top: 5%; 
  margin-bottom: 5%; 
  display: flex;
  align-items: center; 
}

.shopping-card .total-price{
  margin-left: auto; 
}

.contact-us .form{
  margin:12vh 0 5vh 0;
  width:100%; 
  height:100vh; 
  margin-bottom:10vh;
}

.contact-us .form h1{
  text-align:center;
  font-size:7vh;
  color:#7030a0;
}

.contact-us .form label{
  font-size:2.5vh;
  margin-left:10%;
  color:#7030a0;
}

.contact-us input, textarea{
  display:block;
  margin-bottom:5vh;
  width:80%;
  margin-right:auto; 
  margin-left:auto;
}

.contact-us input{
  height:5vh;
}

.contact-us textarea{
  height:50vh
}

.contact-us button{
  margin-left:10%;
  text-align:center;
  padding:15px 32px;
  display:inline-block;
  font-size:2.5vh; 
  text-decoration:none;
  color:#fff;
  border:none; 
  background-color:#7030a0;
}

/* SignIn and SignOut */
.sign-in{
  height: 100vh; 
  width: 100%;
  background-color: #e5c0fc; 
}

.sign-in h1{
  text-align: center;
  margin-bottom: 5vh; 
  color: #7030a0;
}

.sign-in .sign-in-card{
  width: 60vh; 
  height: 80vh; 
  background-color: red; 
  border-radius: 20px; 
  margin: auto; 
}

label{
  color: #7030a0;
}

/* Admin */
.admin{
  height: auto;  
  width: 100%; 
  display: flex; 
  flex-direction: row; 
}

.admin h1{
  text-align: center; 
  color: #7030a0;
}

.admin .admin-form{
  padding-top: 5vh; 
  margin-top: 10vh;
  margin-left: auto; 
  margin-right: auto;  
  margin-bottom: 20vh; 
  height: 80vh; 
  width: 60vh; 
  background-color: #e5c0fc; 
  border-radius: 20px; 
  float: left; 
}

.admin .admin-form .input, button{
  margin-left: 5vh; 
  margin-top: 5vh; 
}