body{
  width:100%; 
  height: auto; 
}

.home, .custom-orders, .earrings, .admin{
  overflow:auto;
  position:relative; 
  display:block; 
  height:auto; 
}

.home .new-arrivals, .bestsellers{
  width:100%; 
  height:100vh;  
}

.home .pcard-section .prod p{
  color: black; 
}

.home .new-arrivals{
  background-color:grey; 
}

.home .bestsellers{
  background-color:red; 
  margin-bottom:10vh; 
}

.home .about{
  text-decoration: none; 
}

.home .about h1, p{
  text-align: center;
}

.home .about h1{
  margin-bottom: 3vh;
}

/* product cards */
.pcard-section{
  width: 100%; 
  padding: 10vh 2.5vh;
  justify-content: center; 
  align-items: center; 
  display: inline-block; 
}

.alert{
  position: fixed; 
  bottom: 2.5vh; 
  left: 2.5vh; 
}

.pcard-section h1, 
  .pcard h4, 
  .pcard .price,
  .pcard .quantity{
  color:#7030a0; 
}

.card-section h1{
  text-align: center;
  font-size:5vh;
}

.pcard {
  position: relative;
  justify-content: center;
  align-items: center;
  display: inline-block;
  background-color: #f9f9f9;
  width: 50vh;
  height: 65vh;
  margin: 2.5vh 5vh;
  color: #7030a0;
  padding: 2.5vh;
}

.pcard img {
  display: block;
  width: 45vh;
  height: 45vh;
}

.pcard h4, 
  .pcard .price{
  display: inline; 
  position: relative;
  margin-top: 5%;
}

.pcard h4 {
  float: left;
  width: 50%;
}

.pcard .price {
  float: right;
}

.pcard .cart-icons{
  margin-top: 12vh; 
  display: flex; 
  justify-content: center; 
}

.pcard .cart-icons .icon{
  margin: 0 5vh 0 5vh;
  cursor: pointer; 
}

.pcard:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* contact-us page */
.contact-us .form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-us .header, .custom-orders .header{
  text-align:center;
  font-size:7vh;
  color:#7030a0;
  margin-top: 12vh; 
}

.contact-us button{
  margin: 0 0 10vh 8%;
  text-align: center;
  padding: 15px 32px;
  display: inline-block;
}

/* SignIn and SignOut */
.sign-in{
  position: relative; 
  height: 100vh; 
  width: 100%;
  background-color: #e5c0fc; 
  padding-top: 10vh; 
}

.sign-in-card h1, p, label{
  color: #fff; 
  text-align: center;
}

.sign-in-card h1{
  margin-bottom: 2vh; 
  font-size: 5vh; 
}

.sign-in-card p{
  margin-top: 8vh; 
}

.sign-in-card a{
  color: #7030a0; 
  text-decoration: underline; 
}

.sign-in .sign-in-card{
  width: 60vh; 
  height: 80vh; 
  border-radius: 20px; 
  margin: auto; 
  padding-top: 2vh;
}

.sign-in .home-portal{
  color: #ffff;
  text-decoration: none; 
}

.sign-in .sign-in-card .form button{
  margin-left: 12%; 
}

/* Admin */
.admin{
  height: auto;  
  width: 100%; 
  display: flex; 
  flex-direction: row; 
}

.admin h1{
  text-align: center; 
  color: #7030a0;
}

.admin .admin-form{
  padding-top: 5vh; 
  margin-top: 10vh;
  margin-left: auto; 
  margin-right: auto;  
  margin-bottom: 20vh; 
  height: 80vh; 
  width: 60vh; 
  background-color: #e5c0fc; 
  border-radius: 20px; 
  float: left; 
}

.admin .admin-form .input, button{
  margin-left: 5vh; 
  margin-top: 5vh; 
}

/* shopping cart page */

.page .title{
  padding-top: 10vh; 
  text-align: center; 
  color: #7030a0;
}

.table{
  width: 80%;
  margin: auto; 
  padding-top: 10vh; 
  margin-bottom: 10vh; 
}

.page hr{
  width: 90%; 
  margin: auto; 
}

.page .total, .page .checkout{
  color: #7030a0;
  margin: 10vh 0 10vh 10%; 
}

/* Custom-Orders */

.custom-forms{
  position: relative; 
  height: auto; 
  min-height: 100vh; 
}

.custom-form{
  background-color: red; 
  position: absolute;  
  height: 100vh; 
  width: 100%; 
  margin: auto; 
  z-index: 1;
}

